{{ define "auth" }}
{{ template "header" . }}

<body>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow rounded-3">
                    <form action="{{ .Path }}" method="POST" class="card-body p-4 text-center">
                        <h3 class="mb-3">{{.Body}}</h3>
                        {{ if eq .Path "/register/" }}
                        <div class="form-outline mb-3 text-start">
                            <label class="form-label ms-1 fw-lighter">First Name</label>
                            <input type="text" name="firstname" class="form-control" />
                        </div>
                        <div class="form-outline mb-3 text-start">
                            <label class="form-label ms-1 fw-lighter">Last Name</label>
                            <input type="text" name="lastname" class="form-control" />
                        </div>
                        {{ end }}
                        <div class="form-outline mb-3 text-start">
                            <label class="form-label ms-1 fw-lighter">Email</label>
                            <input type="email" name="email" class="form-control" />
                        </div>
                        <div class="form-outline mb-3 text-start">
                            <label class="form-label ms-1 fw-lighter">Password</label>
                            <input type="password" name="password" class="form-control" />
                        </div>
                        {{ if eq .Path "/register/" }}
                        <div class="form-outline mb-3 ms-1 text-start">
                            <label for="exampleConfirmPassword1" class="form-label fw-lighter">Confirm Password</label>
                            <input type="password" class="form-control" id="exampleConfirmPassword1">
                        </div>
                        {{ end }}
                        <div class="d-grid gap-2">
                            <button type="submit"
                                class="btn btn-block fw-bolder btn-primary mt-1 mb-3">{{.Action}}</button>
                        </div>
                        <div class="card-footer text-muted bg-body">
                            {{ if eq .Path "/auth/" }}
                            <span class="fw-lighter mt-2">Forgot password?</span>
                            <a href="#!">Reset</a><br />
                            <span class="fw-lighter">New here?</span>
                            <a href="/register/">Create account</a>
                            {{ else }}
                            <span class="fw-lighter"> Already have an account?</span>
                            <a href="/auth/">Login</a>
                            {{ end }}
                        </div>
                    </form>
                </div>
            </div>
            {{ if .Message }}
            <div class="alert alert-light alert-dismissible d-flex align-items-center position-absolute top-50 start-50 translate-middle col-md-5 col-md-offset-5"
                role="alert">
                <svg class="bi flex-shrink-0 me-2" role="img" width="24" height="24" aria-label="Info:" fill="red"><use xlink:href="#sign-stop-fill"/></svg>
                <div class="fw-lighter text-primary ms-1"><strong>{{ .Message }}</strong></div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {{ end }}
        </div>
    </div>
</body>
{{end}}